page-project {
    p { color: black; }


    #project-title {
        position: static;
        padding: 0 0 1px 0px;
    }
    .toolbar-title {
       text-overflow: unset;
       white-space: unset;
   }
}
